<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>archwiki</string>
	<key>connections</key>
	<dict>
		<key>080E1EEC-AF82-4672-A554-E2AB43480D4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DB7D482-7B0C-472A-AC4D-AC31DDB5E0C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1163D3E7-75F3-4508-BD15-56FF965A1DF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93A7D6E3-1C8D-4555-82D7-98BB02E9374C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8530B58B-DA59-4F46-A19B-539A0A8B6A42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07C55860-36A8-4D0C-B572-3462CD4E3262</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Chen</string>
	<key>description</key>
	<string>Archlinux.org Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Archlinux.org</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://wiki.archlinux.org/index.php?search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>07C55860-36A8-4D0C-B572-3462CD4E3262</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>warch</string>
				<key>subtext</key>
				<string>Search wiki.archlinux.org</string>
				<key>text</key>
				<string>Archlinux Wiki</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8530B58B-DA59-4F46-A19B-539A0A8B6A42</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://www.archlinux.org/packages/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5DB7D482-7B0C-472A-AC4D-AC31DDB5E0C7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>parch</string>
				<key>subtext</key>
				<string>Search archlinux.org/packages</string>
				<key>text</key>
				<string>Archlinux Packages</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>080E1EEC-AF82-4672-A554-E2AB43480D4B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://aur.archlinux.org/packages/?K={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>93A7D6E3-1C8D-4555-82D7-98BB02E9374C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>aarch</string>
				<key>subtext</key>
				<string>Search aur.archlinux.org</string>
				<key>text</key>
				<string>Arch User Repository</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1163D3E7-75F3-4508-BD15-56FF965A1DF3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07C55860-36A8-4D0C-B572-3462CD4E3262</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>080E1EEC-AF82-4672-A554-E2AB43480D4B</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>1163D3E7-75F3-4508-BD15-56FF965A1DF3</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>5DB7D482-7B0C-472A-AC4D-AC31DDB5E0C7</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>8530B58B-DA59-4F46-A19B-539A0A8B6A42</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>93A7D6E3-1C8D-4555-82D7-98BB02E9374C</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://blog.burrito.sh</string>
</dict>
</plist>
