<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cfdocs-org</string>
	<key>connections</key>
	<dict>
		<key>52068EDF-B2A4-4105-BA79-B3461094271C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>877B3793-5FB6-4BCB-85AF-FE5ACC555A74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Chen</string>
	<key>description</key>
	<string>Search cfdocs.org</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>cfdocs.org</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://cfdocs.org/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>877B3793-5FB6-4BCB-85AF-FE5ACC555A74</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>cfdoc</string>
				<key>subtext</key>
				<string>consult cfdocs</string>
				<key>text</key>
				<string>cfdocs.org</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>52068EDF-B2A4-4105-BA79-B3461094271C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>52068EDF-B2A4-4105-BA79-B3461094271C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>877B3793-5FB6-4BCB-85AF-FE5ACC555A74</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fly/twerkflows/tree/master/cfdocs.alfredworkflow</string>
</dict>
</plist>
